<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frames/merc/dead/0/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1},{189,166}}</string>
				<key>offset</key>
				<string>{22,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/0/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1915},{151,131}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/0/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1675},{155,154}}</string>
				<key>offset</key>
				<string>{5,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/0/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,521},{183,166}}</string>
				<key>offset</key>
				<string>{14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/0/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1019},{173,165}}</string>
				<key>offset</key>
				<string>{15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/0/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1652},{151,160}}</string>
				<key>offset</key>
				<string>{14,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/0/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1879},{138,159}}</string>
				<key>offset</key>
				<string>{14,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/0/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1726},{151,160}}</string>
				<key>offset</key>
				<string>{14,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/0/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,1021},{173,165}}</string>
				<key>offset</key>
				<string>{15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/0/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,845},{180,160}}</string>
				<key>offset</key>
				<string>{15,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/0/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,1035},{177,159}}</string>
				<key>offset</key>
				<string>{14,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/0/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1550},{168,159}}</string>
				<key>offset</key>
				<string>{15,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/0/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1564},{164,160}}</string>
				<key>offset</key>
				<string>{15,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,684},{164,184}}</string>
				<key>offset</key>
				<string>{16,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1870},{170,141}}</string>
				<key>offset</key>
				<string>{-1,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,186},{195,162}}</string>
				<key>offset</key>
				<string>{-1,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1154},{133,192}}</string>
				<key>offset</key>
				<string>{16,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1528},{145,173}}</string>
				<key>offset</key>
				<string>{-34,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,967},{185,142}}</string>
				<key>offset</key>
				<string>{-1,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{183,187}}</string>
				<key>offset</key>
				<string>{19,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1},{196,166}}</string>
				<key>offset</key>
				<string>{-2,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,760},{205,143}}</string>
				<key>offset</key>
				<string>{-23,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1},{199,168}}</string>
				<key>offset</key>
				<string>{17,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{185,161}}</string>
				<key>offset</key>
				<string>{17,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/dead/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1805},{157,149}}</string>
				<key>offset</key>
				<string>{-1,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1221},{158,176}}</string>
				<key>offset</key>
				<string>{22,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,854},{163,177}}</string>
				<key>offset</key>
				<string>{23,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1007},{160,176}}</string>
				<key>offset</key>
				<string>{22,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/1/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1399},{163,165}}</string>
				<key>offset</key>
				<string>{19,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/1/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,1711},{167,157}}</string>
				<key>offset</key>
				<string>{17,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/1/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,1188},{170,165}}</string>
				<key>offset</key>
				<string>{16,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,507},{179,171}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,688},{175,170}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,689},{181,163}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,570},{188,157}}</string>
				<key>offset</key>
				<string>{-7,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/2/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,347},{193,163}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/2/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,850},{173,169}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,337},{185,168}}</string>
				<key>offset</key>
				<string>{3,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,680},{184,163}}</string>
				<key>offset</key>
				<string>{7,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,518},{181,168}}</string>
				<key>offset</key>
				<string>{5,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1870},{163,147}}</string>
				<key>offset</key>
				<string>{-3,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/3/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1511},{167,166}}</string>
				<key>offset</key>
				<string>{-5,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/3/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,860},{171,167}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1355},{182,154}}</string>
				<key>offset</key>
				<string>{13,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,1029},{190,148}}</string>
				<key>offset</key>
				<string>{11,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1169},{182,154}}</string>
				<key>offset</key>
				<string>{13,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/4/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1214},{169,161}}</string>
				<key>offset</key>
				<string>{16,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/4/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1488},{162,162}}</string>
				<key>offset</key>
				<string>{16,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/run/4/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1325},{169,161}}</string>
				<key>offset</key>
				<string>{16,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1377},{149,177}}</string>
				<key>offset</key>
				<string>{3,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1679},{151,176}}</string>
				<key>offset</key>
				<string>{4,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1186},{155,181}}</string>
				<key>offset</key>
				<string>{8,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/1/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1369},{153,179}}</string>
				<key>offset</key>
				<string>{6,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1726},{124,187}}</string>
				<key>offset</key>
				<string>{14,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1538},{128,186}}</string>
				<key>offset</key>
				<string>{12,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,845},{130,188}}</string>
				<key>offset</key>
				<string>{16,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1348},{128,188}}</string>
				<key>offset</key>
				<string>{14,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,348},{171,180}}</string>
				<key>offset</key>
				<string>{13,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,1},{178,182}}</string>
				<key>offset</key>
				<string>{19,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,169},{177,183}}</string>
				<key>offset</key>
				<string>{16,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,171},{174,183}}</string>
				<key>offset</key>
				<string>{14,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,512},{181,170}}</string>
				<key>offset</key>
				<string>{25,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,181},{191,164}}</string>
				<key>offset</key>
				<string>{23,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,169},{189,166}}</string>
				<key>offset</key>
				<string>{24,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/merc/standby/4/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,347},{183,169}}</string>
				<key>offset</key>
				<string>{25,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>merc.png</string>
			<key>realTextureFileName</key>
			<string>merc.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>