<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frames/role/atk/0/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,184},{150,172}}</string>
				<key>offset</key>
				<string>{-16,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/0/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,427},{148,191}}</string>
				<key>offset</key>
				<string>{25,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/0/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,769},{180,158}}</string>
				<key>offset</key>
				<string>{25,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/0/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{250,146}}</string>
				<key>offset</key>
				<string>{-13,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/dead/0/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,925},{92,175}}</string>
				<key>offset</key>
				<string>{10,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/0/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,235},{148,142}}</string>
				<key>offset</key>
				<string>{-28,-49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/0/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,410},{155,137}}</string>
				<key>offset</key>
				<string>{-26,-49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/0/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,772},{152,138}}</string>
				<key>offset</key>
				<string>{-24,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/0/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,731},{152,134}}</string>
				<key>offset</key>
				<string>{-17,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/0/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1460,537},{142,142}}</string>
				<key>offset</key>
				<string>{-19,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/0/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,253},{142,155}}</string>
				<key>offset</key>
				<string>{-22,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/0/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,341},{104,153}}</string>
				<key>offset</key>
				<string>{2,-65}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/0/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,678},{103,156}}</string>
				<key>offset</key>
				<string>{2,-68}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/0/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,838},{112,147}}</string>
				<key>offset</key>
				<string>{2,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/0/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1775,105},{117,143}}</string>
				<key>offset</key>
				<string>{2,-61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,188},{181,148}}</string>
				<key>offset</key>
				<string>{-23,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,204},{178,157}}</string>
				<key>offset</key>
				<string>{13,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,243},{182,164}}</string>
				<key>offset</key>
				<string>{38,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/1/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1},{206,142}}</string>
				<key>offset</key>
				<string>{1,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1},{201,142}}</string>
				<key>offset</key>
				<string>{-21,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1},{185,148}}</string>
				<key>offset</key>
				<string>{-44,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,495},{184,164}}</string>
				<key>offset</key>
				<string>{7,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,771},{211,149}}</string>
				<key>offset</key>
				<string>{-27,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,761},{162,156}}</string>
				<key>offset</key>
				<string>{-29,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,371},{201,129}}</string>
				<key>offset</key>
				<string>{12,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{240,158}}</string>
				<key>offset</key>
				<string>{37,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{274,121}}</string>
				<key>offset</key>
				<string>{1,-49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,1},{106,172}}</string>
				<key>offset</key>
				<string>{-19,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,567},{162,129}}</string>
				<key>offset</key>
				<string>{3,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,620},{139,187}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/atk/4/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,358},{194,127}}</string>
				<key>offset</key>
				<string>{9,-40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/dead/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,885},{125,160}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/dead/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,138},{149,158}}</string>
				<key>offset</key>
				<string>{-1,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/dead/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,362},{125,160}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/dead/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,681},{86,150}}</string>
				<key>offset</key>
				<string>{15,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,362},{149,123}}</string>
				<key>offset</key>
				<string>{-19,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,681},{155,127}}</string>
				<key>offset</key>
				<string>{-26,-47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,231},{158,129}}</string>
				<key>offset</key>
				<string>{-32,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/1/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1460,109},{154,120}}</string>
				<key>offset</key>
				<string>{-31,-40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/1/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,524},{152,126}}</string>
				<key>offset</key>
				<string>{-27,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/1/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1425,385},{150,137}}</string>
				<key>offset</key>
				<string>{-19,-48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1},{196,114}}</string>
				<key>offset</key>
				<string>{-37,-43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,900},{196,122}}</string>
				<key>offset</key>
				<string>{-42,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,117},{186,116}}</string>
				<key>offset</key>
				<string>{-38,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1167,805},{184,117}}</string>
				<key>offset</key>
				<string>{-36,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/2/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,298},{196,117}}</string>
				<key>offset</key>
				<string>{-39,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/2/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,689},{202,114}}</string>
				<key>offset</key>
				<string>{-37,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,764},{185,148}}</string>
				<key>offset</key>
				<string>{-22,-40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1},{182,135}}</string>
				<key>offset</key>
				<string>{-21,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,496},{179,124}}</string>
				<key>offset</key>
				<string>{-28,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,761},{182,137}}</string>
				<key>offset</key>
				<string>{-32,-43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/3/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,253},{181,122}}</string>
				<key>offset</key>
				<string>{-32,-42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/3/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,436},{179,123}}</string>
				<key>offset</key>
				<string>{-28,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1},{145,181}}</string>
				<key>offset</key>
				<string>{26,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,179},{153,161}}</string>
				<key>offset</key>
				<string>{25,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,342},{152,155}}</string>
				<key>offset</key>
				<string>{26,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/4/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,384},{158,172}}</string>
				<key>offset</key>
				<string>{18,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/4/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,805},{149,147}}</string>
				<key>offset</key>
				<string>{19,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/run/4/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,617},{140,153}}</string>
				<key>offset</key>
				<string>{24,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,1},{182,128}}</string>
				<key>offset</key>
				<string>{-2,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,869},{179,132}}</string>
				<key>offset</key>
				<string>{-2,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,499},{188,123}}</string>
				<key>offset</key>
				<string>{-1,-49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/1/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,131},{188,120}}</string>
				<key>offset</key>
				<string>{1,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,729},{177,138}}</string>
				<key>offset</key>
				<string>{-1,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,574},{177,140}}</string>
				<key>offset</key>
				<string>{-1,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1},{176,144}}</string>
				<key>offset</key>
				<string>{0,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,554},{173,142}}</string>
				<key>offset</key>
				<string>{1,-33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1793,1},{80,155}}</string>
				<key>offset</key>
				<string>{2,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,681},{81,157}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,926},{77,162}}</string>
				<key>offset</key>
				<string>{3,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,224},{76,157}}</string>
				<key>offset</key>
				<string>{4,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,513},{104,154}}</string>
				<key>offset</key>
				<string>{6,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,1},{102,159}}</string>
				<key>offset</key>
				<string>{5,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,109},{114,157}}</string>
				<key>offset</key>
				<string>{4,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/role/standby/4/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,225},{114,153}}</string>
				<key>offset</key>
				<string>{4,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>role.png</string>
			<key>realTextureFileName</key>
			<string>role.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>