<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frames/boss/atk/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1},{248,191}}</string>
				<key>offset</key>
				<string>{8,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,251},{218,213}}</string>
				<key>offset</key>
				<string>{11,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,471},{171,251}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1},{172,193}}</string>
				<key>offset</key>
				<string>{15,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/3/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,555},{235,225}}</string>
				<key>offset</key>
				<string>{-12,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/3/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,742},{215,214}}</string>
				<key>offset</key>
				<string>{4,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/dead/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,520},{214,220}}</string>
				<key>offset</key>
				<string>{14,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/dead/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,884},{285,137}}</string>
				<key>offset</key>
				<string>{25,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/standby/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,448},{234,167}}</string>
				<key>offset</key>
				<string>{-16,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/standby/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,217},{237,164}}</string>
				<key>offset</key>
				<string>{-15,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/standby/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,724},{233,170}}</string>
				<key>offset</key>
				<string>{-16,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/standby/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,448},{228,172}}</string>
				<key>offset</key>
				<string>{-17,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,268},{250,196}}</string>
				<key>offset</key>
				<string>{-22,-51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,792},{237,218}}</string>
				<key>offset</key>
				<string>{-2,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{227,265}}</string>
				<key>offset</key>
				<string>{-8,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/4/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,617},{170,191}}</string>
				<key>offset</key>
				<string>{-6,-52}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/4/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,268},{285,195}}</string>
				<key>offset</key>
				<string>{-25,-73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/atk/4/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1},{233,199}}</string>
				<key>offset</key>
				<string>{-23,-75}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/standby/4/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,236},{210,190}}</string>
				<key>offset</key>
				<string>{-10,-41}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/standby/4/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1},{214,186}}</string>
				<key>offset</key>
				<string>{-12,-43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/standby/4/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1},{203,188}}</string>
				<key>offset</key>
				<string>{-8,-42}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>frames/boss/standby/4/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,678},{204,192}}</string>
				<key>offset</key>
				<string>{-9,-40}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>boss.png</string>
			<key>realTextureFileName</key>
			<string>boss.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>